[submodule "External/GBCli"]
	path = External/GBCli
	url = https://github.com/tomaz/GBCli.git
[submodule "External/mruby"]
	path = External/mruby
	url = https://github.com/mruby/mruby.git
[submodule "External/mruby-cfunc"]
	path = External/mruby-cfunc
	url = https://github.com/chatspry/mruby-cfunc.git
[submodule "External/mruby-cocoa"]
	path = External/mruby-cocoa
	url = https://github.com/chatspry/mruby-cocoa.git
